//fonts

$font: "Montserrat", Arial, Sans-seriff;

// colors

$color-white: #fff;
$color-black: #000000;
$color-gray-light: #f7f8fb;
$color-gray-dark: #4b5863;
$color-blue: #43a9ff;
$color-magenta: #fe3254;
